{% assign icons = site.theme_settings.icons %}
{% if icons.email %}
<li>
  <a href="mailto:{{ icons.email }}">
    <i class="fas fa-envelope"></i>
  </a>
</li>
{% endif %}

{% if icons.linkedin %}
<li>
  <a href="{{ icons.linkedin }}">
    <i class="fab fa-linkedin"></i>
  </a>
</li>
{% endif %}

{% if icons.github %}
<li>
  <a href="https://github.com/{{ icons.github }}">
    <i class="fab fa-github"></i>
  </a>
</li>
{% endif %}

{% if icons.gitlab %}
<li>
  <a href="https://gitlab.com/{{ icons.gitlab }}">
    <i class="fab fa-gitlab"></i>
  </a>
</li>
{% endif %}

{% if icons.bitbucket %}
<li>
  <a href="https://bitbucket.org/{{ icons.bitbucket }}">
    <i class="fab fa-bitbucket"></i>
  </a>
</li>
{% endif %}

{% if icons.google_plus %}
<li>
  <a href="https://plus.google.com/{{ icons.google_plus }}">
    <i class="fab fa-google-plus-g"></i>
  </a>
</li>
{% endif %}

{% if icons.twitter %}
<li>
  <a href="https://twitter.com/{{ icons.twitter }}">
    <i class="fab fa-twitter"></i>
  </a>
</li>
{% endif %}

{% if icons.youtube %}
<li>
  <a href="https://www.youtube.com/user/{{ icons.youtube }}">
    <i class="fab fa-youtube"></i>
  </a>
</li>
{% endif %}

{% if icons.facebook %}
<li>
  <a href="https://www.facebook.com/{{ icons.facebook }}">
    <i class="fab fa-facebook-f"></i>
  </a>
</li>
{% endif %}

{% if icons.instagram %}
<li>
  <a href="http://instagram.com/{{ icons.instagram }}">
    <i class="fab fa-instagram"></i>
  </a>
</li>
{% endif %}