<div id="page-nav">
    <div class="btn-multi">
		<input type="checkbox" id="multi-btn" name="multi-btn" />
		<label for="multi-btn">
			<a href="{{site.baseurl}}/tags" class="btn btn-circle">	
					<i class="fas fa-tags icon" aria-hidden="true"></i>
			</a>
			<a href="{{ site.url | relative_url }}" class="btn btn-circle">	
				<i class="fa fa-heart icon" aria-hidden="true"></i>
			</a>
			<a href="{{ site.url | relative_url }}" class="btn btn-circle">	
				<i class="fas fa-home icon" aria-hidden="true"></i>
			</a>
			<span class="btn btn-circle"><i class="fa fa-plus icon"></i></span>
			<i class="fa fa-plus icon"></i>
		</label>
	</div>
</div>
