#navbar{
    text-align: center;
    #profile, #tag-wrap {
        margin-bottom: 30px;
    }
    .img-wrap{
        display: inline-block;
        overflow: hidden;
        width : 180px;
        height : 180px;
        border-radius: 50%;
        background-color: #ddd;
        margin : 30px 0px;
        img {
            width : 100%;
        }
    }
    .title, .username  {
        font-size : 1.08rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5em;
        margin-bottom: 15px;
    }
}