#home {
    #aside{
        display:block;
        @media (max-width: 991px) {
           display: none;
        }
    }
    #header-nav, #header-content, .bg{
        display:none;
        @media (max-width: 991px) {
           display: block;
        }
    }
    #header-content{
        @extend %page-padding;
        margin-bottom: 30px;
        color: #fff;
    }
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 95px;
        background-color: $theme-dark;
    }
    #posts.col-md-8{
        @media (max-width: 991px) {
            min-width:100%;
         }
    }
    #posts {
        @extend %posts-padding;
        .post{
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding: 15px 0px;
            .post-wrap{
                margin : 25px;
                margin-left : 45px;
                .text-warp {
                    display: inline-block;
                    .title {
                        position: relative;
                        line-height: 2rem;
                    }
                    .title::before {
                        content: "";
                        position: absolute;
                        left: -25px;
                        width: 8px;
                        background-color: rgba(0,0,0,0.1);
                        border-radius: 8px;
                        height: 100%;
                    }
                    .excerpt{
                        margin : 10px 0px;
                    }
                    .meta {
                        color : $text-gray;
                        font-size: 0.85rem;
                        margin-right : 10px;
                    }
                    .tag-wrap{
                        display : inline-block;
                        .tag-sm {
                            display: inline-block;
                            background-color: rgba(0,0,0,0.07);
                            margin-right: 3px;
                            padding: 2px 9px;
                            border-radius: 15px;
                            color: $text-gray;
                            font-size: 0.75rem;
                        }
                        .tag-sm:hover {
                            background-color: $theme-color;
                            color: #fff;
                        }
                    }
                }
                .img-wrap {
                    img {
                        width:100%;
                    }
                }
            }
        }
        .post:hover{
            .text-warp {
                .title{
                    color: $theme-color;
                }
                .title::before {
                    background-color: $theme-color;
                }
            }
        }
    }
}

// Pagination 
#pagination{
    margin-top : 60px;
    margin-bottom : 60px;
    text-align: center;
    li.btn-rounded{
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        border: 2px solid rgba(0,0,0,0.07);
        border-radius: 50%;
        color: rgba(0,0,0,0.54);
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 30px;
    }
    li.prev, li.next {
        background-color: rgba(0,0,0,0.07);
        border: 2px solid rgba(0,0,0,0.0);
    }

    li.btn-rounded:hover{
        background-color: $theme-dark;
        border: 2px solid $theme-dark;
        color : #fff;
    }
    .selected li{
        background-color: $theme-dark;
        border: 2px solid $theme-dark;
        color : #fff;
    }
} 
