#home {
    padding : 0px 2%;
    #posts {
        .post{
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding: 15px 0px;
            .post-wrap{
                margin : 25px 25px;
                .text-warp {
                    display: inline-block;
                    position: relative;
                    .title::before {
                        content: "";
                        position: absolute;
                        left: -25px;
                        width: 8px;
                        background-color: rgba(0,0,0,0.1);
                        border-radius: 8px;
                        height: 100%;
                    }
                    .excerpt{
                        margin : 10px 0px;
                    }
                    .meta {
                        color : $text-gray;
                        font-size: 0.85rem;
                        margin-right : 10px;
                    }
                    .tag-wrap{
                        display : inline-block;
                        .tag-sm {
                            display: inline-block;
                            background-color: rgba(0,0,0,0.07);
                            margin-right: 3px;
                            padding: 2px 9px;
                            border-radius: 15px;
                            color: $text-gray;
                            font-size: 0.75rem;
                        }
                        .tag-sm:hover {
                            background-color: $theme-color;
                            color: #fff;
                        }
                    }
                }
                .img-wrap {
                    img {
                        width:100%;
                    }
                }
            }
        }
        .post:hover{
            .text-warp {
                .title{
                    color: $theme-color;
                }
                .title::before {
                    background-color: $theme-color;
                }
            }
        }
    }
}