#post{
    @extend %post-padding;
    .post-header{
        padding : 60px 0;
        text-align: center;
        .title{
            margin-bottom: 0px;
        }
        .subtitle{
            font-size : 1.2rem;
        }
        .meta{
            color : $text-gray;
            font-size: 0.85rem;
            margin-top : 15px;
        }
    }
    .post-content{
        overflow: hidden;
        margin-bottom: 100px;
        
        // margin : 60px 0;
    }
}